In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                      title  year
0  Kahit pader gigibain ko!  1998
1            Siraa Fil-Wadi  1954
2       My Dinner with Jimi  2003
3  Vyyti zamuzh za kapitana  1985
4             Rowdy Cheetah  2001

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [6]:
len(titles)

231514

### What are the earliest two films listed in the titles dataframe?

In [8]:
titles.sort_values(by='year').head(2)

                    title  year
27274          Miss Jerry  1894
76520  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [9]:
len(titles[titles.title=="Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [10]:
len(titles[titles.title=="North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [11]:
titles[titles.title=="Hamlet"].sort_values(by="year").head(1)['year']

85588    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [14]:
titles[titles.title=="Treasure Island"].sort_values(by="year")

                  title  year
102408  Treasure Island  1918
139703  Treasure Island  1920
182653  Treasure Island  1934
97557   Treasure Island  1950
178827  Treasure Island  1972
181990  Treasure Island  1973
28895   Treasure Island  1985
224683  Treasure Island  1999

### How many movies were made in the year 1950?

In [17]:
len(titles[titles.year == 1950])

1084

### How many movies were made in the year 1960?

In [6]:
len(titles[titles['year']==1960])

1493

### How many movies were made from 1950 through 1959?

In [7]:
len( titles[ (titles['year'] >= 1950) & (titles['year'] < 1960) ])

12616

In [16]:
# also use // (division plus samarai sword to chop off fractional part to get 195*)
len ( titles[titles.year // 10 * 10 == 1950] )

12616

In [26]:
t = (titles.year // 10 * 10)
len(t[t==1950])

12616

In [27]:
t.value_counts()

2010    68237
2000    38526
1990    22103
1980    20125
1970    18551
1960    17373
1950    12616
1930    10069
1920     8752
1940     8504
1910     6458
2020      160
1900       37
1890        3
Name: year, dtype: int64

In [20]:
len(titles[titles.year==1950])

1084

### In what years has a movie titled "Batman" been released?

In [23]:
titles[titles.title=="Batman"]['year']

43326     1943
224183    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [25]:
len( cast[cast.title=="Inception"])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [31]:
len( cast[ (cast.title=='Inception') & (cast.n.isnull()) ] )

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [32]:
len( cast[ (cast.title=='Inception') & (cast.n.notnull()) ] )

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [38]:
cast[ (cast.title=="North by Northwest") & (cast.n.notnull()) ].sort_values(by='n')

,title,year,name,type,character,n
833511,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3333315,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1393319,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2998776,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
340779,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2898695,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1621371,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1219089,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2338544,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1732260,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
636822,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2193912,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
444166,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1442633,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
196681,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1323926,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [41]:
cast [ (cast.title=="Sleuth") & (cast.year==1972) & (cast.n.notnull()) ].sort_values(by='n')

,title,year,name,type,character,n
1631048,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
311978,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
357312,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1401187,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2597582,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1385268,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [42]:
cast [ (cast.title=="Sleuth") & (cast.year==2007) & (cast.n.notnull()) ].sort_values(by='n')

          title  year           name   type    character    n
311979   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1236743  Sleuth  2007       Jude Law  actor         Milo  2.0
1727059  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [46]:
len(cast[ (cast.title=="Hamlet") & (cast.n.notnull()) & (cast.year==1921) ])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [49]:
len(cast[(cast.title=="Hamlet") & (cast.year==1996) & (cast.n.notnull())])

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [50]:
len( cast[cast.title=="Hamlet"])

313

### How many people have played an "Ophelia"?

In [53]:
len(cast[cast.character=="Ophelia"])

108

### How many people have played a role called "The Dude"?

In [57]:
len(cast[cast.character=="The Dude"].sort_values(by='year'))

17

### How many people have played a role called "The Stranger"?

In [58]:
len(cast[cast.character=="The Stranger"])

212

### How many roles has Sidney Poitier played throughout his career?

In [60]:
len(cast[cast.name=="Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [61]:
len(cast[cast.name=="Judi Dench"])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [65]:
len(cast[(cast.name=="Cary Grant") & (cast.n==2) & ((cast.year>=1940) & (cast.year<1950))])

2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [66]:
cast[(cast.name=="Cary Grant") & (cast.n==1) & ((cast.year>=1940) & (cast.year<1950))].sort_values(by='year')

,title,year,name,type,character,n
833534,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
833490,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
833536,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
833523,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
833538,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
833514,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
833481,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
833506,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
833507,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
833515,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
833473,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
833510,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
833509,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
833512,Notorious,1946,Cary Grant,actor,Devlin,1.0
833530,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
833531,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
833505,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
833485,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
833494,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [68]:
len(cast[(cast.type=='actor') & (cast.year < 1960) & (cast.year>=1950) ])

154213

### How many roles were avilable for actresses in the 1950s?

In [69]:
len(cast[(cast.type=='actress') & (cast.year < 1960) & (cast.year>=1950) ])

56090

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [71]:
len(cast[(cast.n==1) & (cast.year<1981)])

63696

### How many non-leading roles were available through from the beginning of film history through 1980?

In [72]:
len(cast[(cast.n>1) & (cast.year<1981)])

654060

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [76]:
len(cast[(cast.year<1981) & (cast.n.isnull())])

436103