In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

            title  year
0   Transgression  1917
1     Well Wishes  2015
2  Krishna Sudama  1979
3   Step bay step  2011
4       Love Nest  1951

In [8]:
len(titles)

231411

In [5]:
%%time
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)

CPU times: user 5.91 s, sys: 602 ms, total: 6.51 s
Wall time: 6.67 s

In [13]:
cast.head(10)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN

In [12]:
cast.head(10)['n'] + cast.head(10).n

0    62.0
1    44.0
2    20.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8    18.0
9     NaN
Name: n, dtype: float64

### How many movies are listed in the titles dataframe?

In [14]:
len(titles)

231411

In [15]:
titles.head(2)

           title  year
0  Transgression  1917
1    Well Wishes  2015

### What are the earliest two films listed in the titles dataframe?

In [18]:
titles.sort_values(by='year').head(2)

                     title  year
74683           Miss Jerry  1894
190802  The Startled Lover  1898

In [19]:
titles.sort_values(by='year').tail(2)

                             title  year
126630                    Garriage  2023
57841   The Snowman and the Falcon  2024

### How many movies have the title "Hamlet"?

In [20]:
titles[titles.title == 'Hamlet'].

         title  year
4601    Hamlet  1910
5214    Hamlet  1964
6140    Hamlet  1976
17201   Hamlet  2016
19080   Hamlet  1921
58516   Hamlet  1948
61605   Hamlet  2000
74068   Hamlet  1987
83513   Hamlet  1973
91734   Hamlet  1990
100678  Hamlet  1913
114503  Hamlet  1911
115521  Hamlet  1954
131121  Hamlet  2011
143634  Hamlet  2015
144095  Hamlet  1996
148747  Hamlet  2014
174378  Hamlet  1969
220851  Hamlet  2009

### How many movies are titled "North by Northwest"?

### When was the first movie titled "Hamlet" made?

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

### How many movies were made in the year 1960?

### How many movies were made from 1950 through 1959?

### In what years has a movie titled "Batman" been released?

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?