In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                                              title  year
0                               Building the Beasts  2011
1  Muzhchina dlya zhizni, ili Na brak ne pretenduyu  2008
2                                Xing dao fang zong  1959
3                                     Hidden Agenda  2001
4                               A Life That Matters  2007

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [33]:
%%time
cast[cast.title=="Sleuth"]
# HMM Takes 388 ms

CPU times: user 380 ms, sys: 4.68 ms, total: 385 ms
Wall time: 384 ms

,title,year,name,type,character,n
248364,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
312381,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
312382,Sleuth,2007,Michael Caine,actor,Andrew,1.0
357766,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
357767,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
1238361,Sleuth,2007,Jude Law,actor,Milo,2.0
1387061,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1403004,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1633186,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
1729345,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
2601063,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
2601064,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
3200977,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

In [16]:
c.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [34]:
%%time
c = cast.set_index(['title'])     # set index sets the index to the title column

CPU times: user 285 ms, sys: 21.7 ms, total: 306 ms
Wall time: 311 ms

In [38]:
%%time
c.loc['Sleuth']
# if it's not sorted, it'll still take 200ms

CPU times: user 150 ms, sys: 2.87 ms, total: 153 ms
Wall time: 156 ms

        year                 name     type                   character    n
title
Sleuth  2007      Kenneth Branagh    actor           Other Man on T.V.  NaN
Sleuth  1972        Michael Caine    actor                 Milo Tindle  2.0
Sleuth  2007        Michael Caine    actor                      Andrew  1.0
Sleuth  1972       Alec Cawthorne    actor           Inspector Doppler  3.0
Sleuth  2007  Alec (II) Cawthorne    actor           Inspector Doppler  NaN
Sleuth  2007             Jude Law    actor                        Milo  2.0
Sleuth  1972         Teddy Martin    actor      Police Constable Higgs  6.0
Sleuth  1972   John (II) Matthews    actor  Detective Sergeant Tarrant  4.0
Sleuth  1972     Laurence Olivier    actor                 Andrew Wyke  1.0
Sleuth  2007        Harold Pinter    actor                 Man on T.V.  3.0
Sleuth  2007    Eve (II) Channing  actress             Marguerite Wyke  NaN
Sleuth  1972   Eve (III) Channing  actress             Marguerite Wyke  5.0
Sleuth  2007    Carmel O'Sullivan  actress                      Maggie  NaN

In [36]:
# let's sort the index!
c.sort_index()

,year,name,type,character,n
title,,,,,
#1 Serial Killer,2013,Michael Alton,actor,Detective Roberts,17.0
#1 Serial Killer,2013,Zachary (X) Brown,actor,Africian American Teen,18.0
#1 Serial Killer,2013,Thomas McCurdy,actor,Golf Club Victim,23.0
#1 Serial Killer,2013,Ellen (II) Ho,actress,Tiffany Wong,15.0
#1 Serial Killer,2013,Eric (II) St. John,actor,Officer Williams,NaN
#1 Serial Killer,2013,Kenzie Dalton,actress,Amber Sterling,5.0
#1 Serial Killer,2013,Matthias Chrans,actor,Brian Bennett,13.0
#1 Serial Killer,2013,Thomas Isao Morinaka,actor,Policeman #1,19.0
#1 Serial Killer,2013,Eugenia Yuan,actress,Karena Lee,2.0
#1 Serial Killer,2013,Jesse Wang,actor,Mr. Tsai,11.0
#1 Serial Killer,2013,Tzi Ma,actor,Mr. Chang,3.0
#1 Serial Killer,2013,Christie Gaynor,actress,Detective Anderson,8.0
#1 Serial Killer,2013,Rane Jameson,actor,Micah Betancourt,6.0
#1 Serial Killer,2013,Cindera Che,actress,Mrs. Tsai,10.0
#1 Serial Killer,2013,Robert Cicchini,actor,Detective Phillips,9.0
#1 Serial Killer,2013,Kylee Cochran,actress,Jennifer Griffin,NaN
#1 Serial Killer,2013,Romina Bovolini,actress,Lisa Simpson,14.0
#1 Serial Killer,2013,Kasie Callaway,actress,Cathherine,16.0
#1 Serial Killer,2013,Shoshana Bush,actress,Tricia Arnold,4.0
#1 Serial Killer,2013,Scott Eriksson,actor,Party Guest,NaN
#1 Serial Killer,2013,Parry Shen,actor,Murder Victim,NaN
#1 Serial Killer,2013,Timothy Tau,actor,Police Officer,NaN
#1 Serial Killer,2013,Tiley Chao,actress,Mrs. Chang,12.0
#1 Serial Killer,2013,Brian Takahashi,actor,Stabbing Victim,20.0
#1 Serial Killer,2013,Gemma Massot,actress,Betty Goodman,7.0
#1 Serial Killer,2013,Patrick Chien,actor,Cleaver Victim,22.0
#1 Serial Killer,2013,Yvis Cannavale,actor,Homeless Man,25.0
#1 Serial Killer,2013,Jinxia Ma,actress,Chinese Teacher,24.0
#1 Serial Killer,2013,Jason Tobin,actor,Eddy Tsai,1.0
#1 Serial Killer,2013,Aaron Aoki,actor,Plastic Bag Victim,21.0
...,...,...,...,...,...
xXx: State of the Union,2005,Manny Oliverez,actor,World Leader,NaN
xXx: State of the Union,2005,Toni Russell,actress,Diplomat,NaN
xXx: State of the Union,2005,Leo Rogstad,actor,Zeke Thief,NaN
xXx: State of the Union,2005,Thomas W. Stewart,actor,Diplomat,NaN
xXx: State of the Union,2005,Jeanne Sakata,actress,Field Reporter,27.0
xXx: State of the Union,2005,Bryan Holly,actor,NSA Agent,NaN
xXx: State of the Union,2005,Michael Don Evans,actor,Conductor,13.0
xXx: State of the Union,2005,Page Dreher,actor,Police Officer,NaN
xXx: State of the Union,2005,Chris J. Johnson,actor,Young Agent,17.0
xXx: State of the Union,2005,Paola (III) Torres,actress,DC Executive,NaN
xXx: State of the Union,2005,Travis Hinson,actor,Tank Gunner,41.0
xXx: State of the Union,2005,Sunny Mabrey,actress,Charlie Mayweather,8.0
xXx: State of the Union,2005,Sarah Mack,actress,Presidential Aide,36.0
xXx: State of the Union,2005,Maurice Colvin,actor,Marine,NaN
xXx: State of the Union,2005,Eddy Challita,actor,SWAT,NaN
xXx: State of the Union,2005,Nona Gaye,actress,Lola Jackson,9.0
xXx: State of the Union,2005,Peter F. Tegan,actor,Bama Commando,NaN
xXx: State of the Union,2005,Sylvan De LaFeuille,actor,SWAT,NaN
xXx: State of the Union,2005,Cabran E. Chamberlain,actor,Marine,NaN
xXx: State of the Union,2005,Christian Monzon,actor,Thief,NaN
xXx: State of the Union,2005,Thom Gossom Jr.,actor,Baptist Preacher,18.0
xXx: State of the Union,2005,Dalon Huntington,actor,Bama Boy,NaN
xXx: State of the Union,2005,Rick (II) Voight,actor,US Ambassador,NaN
y,2016,Santhosh Varghese,actor,Police Officer,NaN
y,2016,Rahul (VII) Nair,actor,Binoy,NaN
y,2016,Jins Baskar,actor,Target,NaN
y,2016,Abhiram Suresh Unnithan,actor,Shaiju,NaN
y,2016,Alencier Ley Lopez,actor,Police Officer,NaN
y,2016,Anand Manmadhan,actor,Subair,NaN
y,2016,Anoop Ramesh,actor,Pop,NaN

In [39]:
%%time
c.loc['Sleuth']

CPU times: user 181 ms, sys: 2.73 ms, total: 184 ms
Wall time: 184 ms

        year                 name     type                   character    n
title
Sleuth  2007      Kenneth Branagh    actor           Other Man on T.V.  NaN
Sleuth  1972        Michael Caine    actor                 Milo Tindle  2.0
Sleuth  2007        Michael Caine    actor                      Andrew  1.0
Sleuth  1972       Alec Cawthorne    actor           Inspector Doppler  3.0
Sleuth  2007  Alec (II) Cawthorne    actor           Inspector Doppler  NaN
Sleuth  2007             Jude Law    actor                        Milo  2.0
Sleuth  1972         Teddy Martin    actor      Police Constable Higgs  6.0
Sleuth  1972   John (II) Matthews    actor  Detective Sergeant Tarrant  4.0
Sleuth  1972     Laurence Olivier    actor                 Andrew Wyke  1.0
Sleuth  2007        Harold Pinter    actor                 Man on T.V.  3.0
Sleuth  2007    Eve (II) Channing  actress             Marguerite Wyke  NaN
Sleuth  1972   Eve (III) Channing  actress             Marguerite Wyke  5.0
Sleuth  2007    Carmel O'Sullivan  actress                      Maggie  NaN

### Using groupby(), plot the number of films that have been released each decade in the history of cinema.

In [31]:
t = titles

### Use groupby() to plot the number of "Hamlet" films made each decade.

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

### In the 1950s decade taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

### List each of the characters that Frank Oz has portrayed at least twice.